{
  "extends": "eslint-config-airbnb-base",
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", "never"],
    "no-console": "off",
    "object-curly-newline": ["error", {
      "ObjectPattern": { "multiline": true }
    }],
    "operator-linebreak": ["error", "after"]
  }
}